@model ALC.IES.GestionAlmacen.Models.BackendModel
@{
    ViewBag.Title = "Backend";
}

<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Activar usuario en terminal
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Usuario</label>
                        <select name="selUsuario" id="selUsuario" class="form-control m-b">
                            @foreach (var usuario in ALC.IES.GestionAlmacen.Models.UsuariosModel._Usuarios) {
                                <option @(Html.Raw(!Model.UsersLibres.Contains(usuario) ? " disabled=\"disabled\" " : "")) value="@usuario">@usuario</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Numero de terminal</label>
                        <select name="selTerminal" id="selTerminal" class="form-control m-b">
                            @foreach (var term in Model.Terminales) {
                                <option @(String.IsNullOrWhiteSpace(term.NombreUsuario) ? "" : "disabled=\"disabled\"") value="@term.Id">T-@term.Id</option>
                            }
                        </select>
                    </div>
                    <button type="button" id="btnActivarTerminal" class="btn btn-sm btn-default">Activar</button>
                </form>

            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel widget">
            <div class="row row-table">
                @{ int nIndex = 1; }
                @foreach (var item in Model.Terminales) {
                    bool withUser = !String.IsNullOrWhiteSpace(item.NombreUsuario);
                    <div class="col-md-15 col-sm-3 hidden-xs pv text-center@((nIndex % 5 != 0)?" br ":"" ) @(withUser?" bg-success ":"") " style="vertical-align: top;">
                        <div class="@(withUser?"":"text-info") text-sm">
                            Term-@(item.Id)
                        </div>
                        <div class="@(withUser?"":"text-muted") text-md">
                            <em class="fa fa-calculator"></em>
                        </div>
                        <div class="@(withUser?"":"text-info")">
                            <em class="wi wi-sprinkles"></em>
                            <div class="@(withUser?"":"text-muted")">
                                @(item.PCAs.Count) PCAs
                            </div>
                        </div>
                        <div class="@(withUser?"":"text-muted")">
                            @(Html.Raw(String.IsNullOrWhiteSpace(item.NombreUsuario) ? "&nbsp;" : item.NombreUsuario))
                            @if (!String.IsNullOrWhiteSpace(item.NombreUsuario)) {
                                <a data-id="@item.Id" class="pull-right text-white aPowerTerm" href="#"><i class="fa fa-power-off"></i></a>
                            }
                        </div>
                        @foreach (var pca in item.PCAs) {
                            foreach (var picking in pca.Pickings) {
                                <div class=" list-group">
                                    @foreach (var linea in picking) {
                                        <div class="list-group-item" style="color:#000; text-align:left;" data-id="@linea.Id">
                                            <button data-id="@linea.Id" class="btn btn-default btn-xs btn-pick-linea"><i class="fa fa-hand-grab-o"></i></button>
                                            @linea.Producto
                                            <span id="spnCant@(linea.Id)" class="badge pull-right" style="color:#000;">
                                                @linea.Cantidad
                                            </span>
                                        </div>
                                    }
                                </div>
                            }
                        }

                    </div>
                    if (nIndex % 5 == 0) {
                        <text>@Html.Raw("</div></div> <div class=\"panel widget\"><div class=\"row row-table\">")</text>
                    }
                    ++nIndex;
                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        var backend = {};
        $(function () {
            $("#btnActivarTerminal").on("click", function (e) {
                e.preventDefault();

                var usuario = $("#selUsuario").val();
                var terminal = $("#selTerminal").val();

                var activacio = { usuario: usuario, terminal: terminal };


                $.ajax({
                    method: "POST",
                    url: "/backend/ActivarTerminal",
                    data: activacio,
                    success: function (data) {
                        if (data.Success) {
                            window.location.reload();
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });


            $(".aPowerTerm").on("click", function (e) {
                e.preventDefault();
                var $this = $(this);
                var id = $this.data("id");

                $.ajax({
                    method: "POST",
                    url: "/backend/DesactivarTerminal/" + id,
                    success: function (data) {
                        if (data.Success) {
                            window.location.reload();
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });


            $(".btn-pick-linea").on("click", function (e) {
                e.preventDefault();
                var $this = $(this);
                var id = $this.data("id");
                var $spnCant = $("#spnCant" + id);

                var sCant = $spnCant.text();

                if (parseInt(sCant) > 0) {
                    $.ajax({
                        method: "POST",
                        url: "/backend/PickItemLinea/" + id,
                        success: function (data) {
                            if (data.Success) {
                                //window.location.reload();
                                var $item = $("#spnCant" + id);
                                var text = $item.text();
                                var nCant = parseInt(text);
                                if (nCant > 0) {
                                    --nCant;
                                    $item.text(nCant);
                                } else {
                                    //No se puede restar a 0...
                                }
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
            });
        });

    </script>
}